* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 249, 246);
}

.container {
    width: 100%;
    height: 100%;
    /* max-width: 375px;
    max-width: 700px; */
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.top {
    background-image: url("images/hero-mobile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
}


.bottom {
    text-align: center;
    padding: 25px 50px;
}

svg {
    margin: 20px 0 10px 20px;
}

h1 {
    font-size: 40px;
}

p {
    padding: 10px 0;
    line-height: 1.3;
}

.email-input {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid;
    margin: 20px;
}

#submit {
    background-color: lightpink;
    border-radius: 6px;
    margin-left: 20px;
    border: none;
    margin-bottom: 20px;
}

#submit:hover {
    cursor: pointer;
}

.arrow {
    height: 20px;
    width: 30px;
}

.form {
    display: flex;
}

@media(min-width: 600px) {


    .container {
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }

    .container svg {
        display: none;
    }

    .top {
        background-image: url("images/hero-desktop.jpg");
        background-size: 100%;
        width: 45%;
        height: 90%;
        margin-top: auto;
        margin-bottom: auto;

    }

    .bottom{
        height: 90%;
        width: 45%;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 10%;
    }

    .form {
        width: 100%;
    }


}